<html>

<head>
<title>Assignment 3</title>
</head>

<body>

<p>[According to CNN, US-Mexico border apprehensions hit a 17-year low.](https://www.cnn.com/2017/05/09/politics/border-crossings-apprehensions-down-trump/index.html) However, its important to look at the data in order to analyze trends, thus we will look at:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
